@import '../../../themes/orange.scss';

.project{
    width: 400px;
    z-index: 1;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
    padding: 10px;
    background-color: white;
    margin: 0 5px 0 5px;
    min-width: 350px;

    .project-image{
        width: 100%;
        min-height: 200px;
        height: 200px;
    }
}

.title{
    font-size: medium;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
    color: $primary_light !important;
}

.subheader{
    font-size: small;
    font-weight: bold;
    color: $dark_gray;
    margin-top: 5px;
    text-align: center;
}

.field{
    font-size:small;
    text-align: justify;

    hr{
        margin-top: 5px !important;
        margin-bottom: 5px !important;
    }
}

.tags{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5px;
    .tag{
        background-color: $primary_dark;
        color: $text_on_p;
        
    }
}

.actions{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5px;
    .action{
        color: $primary_dark;        
    }
    .disabled{
        color: $dark_gray;
    }
}

.interval{
    font-size: smaller;
}