
// colors taken from Material color tool
$primary_neutral: #ff6d00;
$primary_light: #ff9e40;
$primary_dark: #c43c00;

$secondary_neutral: #dd2c00;
$secondary_light: #ff6434;
$secondary_dark: #a30000;

$text_on_p: rgba(255,255,255,0.8);
$text_on_s: rgba(0,0,0,0.8);
