
// colors taken from Material color tool
$primary_neutral: #004d40;
$primary_light: #39796b;
$primary_dark: #00251a;

$secondary_neutral: #80cbc4;
$secondary_light: #b2fef7;
$secondary_dark: #4f9a94;

$text_on_p: rgba(255,255,255,0.8);
$text_on_s: rgba(0,0,0,0.8);

$header-text-main-color: #004d40;