.contact-root{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
    margin-top: 15px;
}
.contact-list{
    padding: 0;
    list-style-type: none;
}

.contact-item{
    float: left;
    margin-left: 15px;  
    text-decoration: none;
    align-items: center;
    
    li:first-child { margin-top: 0 !important; margin-left: 0 !important; }

}
