@import '../../themes/orange.scss';

.navbar-container{
    z-index: 2;
    box-shadow: 0px 1px 5px rgba(0,0,0,1);
    background-color: $light_gray;
    align-items: center;
}

.navbar {
    align-items: center;
    margin: 0;
}