@import '../../themes/orange.scss';

.navbar-container{
    z-index: 2;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
    background-color: $primary_neutral;
    align-items: center;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.navbar {
    align-items: center;
    margin: 0;
    min-height: 50px;
    width: 25em;
    list-style-type: none;

    a {
        text-decoration: none;

        :hover{
            opacity: 0.5;
        }
    }
}
.navbar-item{
    color: $text_on_p;
}