@import '../../themes/orange.scss'; //how to make this dynamic

.root {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    background-image: url('../../assets/header-background.jpg');
    height: 100vh;
}
.canvas{
    z-index: 9;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container {
    position: relative;
    width: 40em;
    padding: 0;
}

.info {
    position: relative;
    text-align: center;
    transform: translateY(-150%);
    color: $text_on_p;
    z-index: 2;

    .name{
        color: $primary_light;
    }

    h1{
        font-size: xx-large;
        margin: 5px;
    }

    h2 {
        color: $secondary_light;
        font-size: large;
        margin-bottom: 15px;
    }
}

.scroll{
    position: absolute;
    bottom: 0;
    text-align: center;
    bottom: 30px;
    color: $text_on_p
}

